body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.6em;
	color: #666;
	margin: 20px;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 1.5em;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	font-weight: bolder;
}

    

    

